[submodule "Log20"]
	path = Log20
	url = .\\src\\Log20\\
[submodule "src/Log20"]
	path = src/Log20
	url = https://github.com/JimmyLaessig/Log20
[submodule "Coral"]
	path = Coral
	url = git@github.com:JimmyLaessig/Coral.git
[submodule "src/Coral"]
	path = src/Coral
	url = git@github.com:JimmyLaessig/Coral.git
